---
import Tag from "../pages/tags/index.astro";
import Categories from "../pages/categories/index.astro";
import { Icon } from "astro-iconify";
import { formatBlogPosts } from "../utils/helpers";
import { slugify, formatDate } from "../utils/helpers";
const posts = import.meta.glob('../pages/posts/*.md', { eager: true }) as Record<string, any>;
const allPosts = Object.values(posts);
const formatPosts = formatBlogPosts(allPosts);
const { frontmatter, url } = Astro.props;


---

<div class="font-montserrat w-full lg:w-1/3 lg:px-8">
  <h3 class="relative w-full flex items-center my-8">
    <span class="pr-3 text-sm text-pink-900 !relative">POPULAR POSTS</span>
    <span
      class="relative flex-grow h-1 bg-gray-100 before:content-[''] before:absolute before:h-1 before:w-8 before:bg-pink-900 before:right-0"
    ></span>
  </h3>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 gap-4">
    {
      formatPosts.slice(0, 5).map((post) => (
        <div class="w-full flex gap-2 mx-auto rounded-md shadow-xl bg-gray-100 text-gray-900 p-4 mb-5">
          <a href={post.url}>
          <img src={post.frontmatter.image.img} alt={post.frontmatter.image.alt} class="w-44 h-24 rounded-md object-center object-cover" />
          </a>
          <div class="ps-3 w-full">
            <p class="text-gray-500 text-[10px]">
              <a
                href={`/categories/${slugify(post.frontmatter.categories)}/`}
                class="uppercase text-pink-900">
                {post.frontmatter.categories}
              </a>
            </p>
            <a href={post.url}>
              <h4 class="font-bold font-josefin my-2 text-sm capitalize transition-all duration-300 ease-linear hover:text-gray-600 text-pink-900">
                {post.frontmatter.title}
              </h4>
            </a>
            <p class="flex gap-2 items-end text-gray-500 text-sm">
              <span class="flex gap-1 items-center">
                <Icon name="mdi:access-time" class="w-4 h-4" />
                {formatDate(post.frontmatter.date)}
              </span>
            </p>
          </div>
        </div>
      ))
    }
  </div>
  <Categories />
  <Tag />
</div>
