---
import Tag from "../pages/tags/index.astro";
import Categories from "../pages/categories/index.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-iconify";
import { formatBlogPosts } from "../utils/helpers";
import { slugify, formatDate } from "../utils/helpers";
const allPosts = await Astro.glob("../pages/posts/*.md");
const formatPosts = formatBlogPosts(allPosts);
const { frontmatter, url } = Astro.props;
// const { title, date, author, image, description, categories} = frontmatter; 


---

<div class="w-full lg:w-1/3 lg:px-8">
  <h3 class="relative w-full flex items-center my-8">
    <span class="pr-3 text-sm text-blue-600 !relative">POPULAR POSTS</span>
    <span
      class="relative flex-grow h-1 bg-gray-100 before:content-[''] before:absolute before:h-1 before:w-8 before:bg-blue-600 before:right-0"
    ></span>
  </h3>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 gap-4">
    {
      formatPosts.slice(0, 5).map((post) => (
        <div class="w-full flex gap-2 mx-auto text-gray-800 mb-5">
          <a href={post.url}>
            <Image
              src={post.frontmatter.image.src}
              width="200"
              height="500"
              alt={post.frontmatter.image.alt}
              format="webp"
              class="w-56 h-28 rounded-md"
            />
          </a>
          <div class="ps-3 mb-5 w-full">
            <p class="text-gray-500 text-xs">
              <a
                href={`/categories/${slugify(post.frontmatter.categories)}/`}
                class="flex gap-1 items-center uppercase transition-all duration-300 ease-linear text-blue-600">
                {post.frontmatter.categories}
              </a>
            </p>
            <a href={post.url}>
              <h4 class="font-bold font-josefin text-md capitalize transition-all duration-300 ease-linear hover:text-blue-600">
                {post.frontmatter.title}
              </h4>
            </a>
            <p class="flex gap-2 items-end text-gray-500 text-sm">
              <span class="flex gap-1 items-center">
                <Icon name="mdi:access-time" class="w-4 h-4" />
                {formatDate(post.frontmatter.date)}
              </span>
            </p>
          </div>
        </div>
      ))
    }
  </div>
  <Categories />
  <Tag />
</div>
