---
import Main from "./main.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-iconify";
import Aside from "./aside.astro";
import { formatDate, slugify } from "../utils/helpers";
const { title, desc, frontmatter } = Astro.props;
---

<Main title={title} desc={desc}>
  <section>
    <div class="container py-20 px-6 mx-auto">
      <div class="flex flex-col lg:flex-row gap-12">
        <div class="w-full lg:w-2/3 text-gray-800">
          <a 
            href={`/tags/${slugify(frontmatter.tags)}/`} 
            class="font-josefin uppercase text-md text-blue-600"
          >{frontmatter.tags}
          </a>
          <h1 class="font-bold font-montserrat capitalize text-4xl md:text-5xl">
            {frontmatter.title}
          </h1>
          <div class="flex items-center gap-2 mt-2 mb-5">
            <p class="flex gap-2 items-end text-gray-500 text-sm">
              <a href={`/author/${slugify(frontmatter.author)}/`} class="flex gap-1 items-center">
                <Icon name="mdi:account" class="w-4 h-4" />
                {frontmatter.author}
              </a>
              <span class="flex gap-1 items-center">
                <Icon name="mdi:access-time" class="w-4 h-4" />
                {formatDate(frontmatter.date)}
              </span>
            </p>
          </div>
          <img src={frontmatter.image.img} alt={frontmatter.image.alt} class="mb-12 aspect-video" />
          <div class="prose prose-a:text-blue-600 hover:prose-a:text-blue-500">
            <slot />
          </div>
        </div>
        <Aside />
      </div>
    </div>
  </section>
</Main>
